@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
    }    
}

/* HEADER  */

@media screen and (min-width: 1158px) {
       .list-adress {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        gap: 40px;
    }

    .contact-menu {
        font-size: 16px;
        line-height: 1.5;
        display: inline-block;
    }

    .mobile-menu{
        display: none;
    }
}


/* Hero */

@media screen and (min-width: 1158px) {
    .bg-hero-image {
      width: 100%;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-desktop-1x.jpg');
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .bg-hero-image {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url('../images/hero/hero-desktop-2x.jpg');
    }
}

@media screen and (min-width: 1158px) {

    .hero{
        padding: 188px 0;
    }

    .hero-title{
        margin: 0 auto 48px;
    }   
}
/* about title */
@media screen and (min-width: 1158px) {

    .about-title{
        padding: 120px 0;
    }

   
    .inform {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .list-inform {
        width: calc((100% - 24px) / 4);
    }

    .name-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .inform-text {
        font-weight: 400;
    }
}

/* work infom */

@media screen and (min-width: 1158px) {
    .work-inform {
      padding-bottom: 120px;
    }

    .name-inform{
        margin-top: 0;
        color: #2E2F42;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
    
    .img-work{
        display: flex;
        gap: 24px;
    }
    
    .img-list{
        width: calc((100% - 24px) / 3);
    }
}    

/* Section team */
@media screen and (min-width: 1158px) {
    
   



    .team-list {
      flex-wrap: nowrap;
      gap: 24px;
    }



    .work-list-team {
      width: calc((100%-24px) / 4);
    }
}

  /* Section customers */

@media screen and (min-width: 1158px) {

   

    .customers-item {
        gap: 24px;
    }
  
    .customers-wrap {
        width: calc((100% - 120px) / 6);
    }
    
}

/* Footer */

@media screen and (min-width: 1158px) {
    .footer {
      padding: 100px 0;
    }

    .container{
        max-width: 1158px;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
        text-align: start;
    }

    .line .logo{
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .logo-nav-footer {
        display: inline-block; 
    }

    .footer-subscribe {
        margin-left: 80px;
        margin-top: 0;    
    }
}

/* Modal window */

/* Portofolio */
  /* section modal */
@media screen and(min-width: 1158px){
    .section-modal{
      padding-top: 100px;
      padding-bottom: 120px;
    }

   .btn-list{
      margin-bottom: 72px;
    }

    .list-work{
      row-gap: 48px;
    }

    .list-information:hover{
       box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
       overflow: hidden;
       border: 1px solid var(--cloud);
    }

    .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .box {
        width: 360px;
    }
}

@media screen and (min-width:1158px) {
    .list-information {
        width: calc((100% - 48px) / 3);
    }
}

   
    
    